{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
    <!-- picknews CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Hello, PickNews!</title>
</head>
<body>
<!-- 네비게이션바 -->
{% include "navbar2.html" %}
<!-- 기본 템플릿 안에 삽입될 내용 Start -->

<form>
  <fieldset>
      <div class="form-group">
          <label for="exampleSelect1" class="form-label mt-4">Nation</label>
          <select style= "width:200px; font-size:15px" class="form-select" id="exampleSelect1">
            <option>Russia</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
  </fieldset>
</form>

<p>sss</p>
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>
</body>
<p></p>
<p>sssss</p>
</html>
