{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}

<div class="container my-4">
    <table class="table">
        <thead class="text-center table-dark">
        <tr>
            <th>번호</th>
            <th style="width:50%">제목</th>
            <th>글쓴이</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if question_list %}
        {% for question in question_list %}
        <tr class="text-center">
            <td>{{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}</td>
            <td align="left">
                <a href="{% url 'pybo:detail' question.id %}" style="text-decoration: none;">
                    {{ question.subject }}
                </a>
                {% if question.answer_set.count > 0 %}
                <span class="text-danger small ml-2">
                    {{ question.answer_set.count }}
                </span>
                {% endif %}
            </td>
            <td>{{ question.author.username }}</td>
            <td>{{ question.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>    
        {% endif %}
        </tbody>
    </table>
    <!-- start paging -->
    <ul class="pagination justify-content-center">
        <!-- previous page -->
        {% if question_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ question_list.previous_page_number }}">
                <
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                <
            </a>
        </li>
        {% endif %}
        <!-- page list -->
        {% for page_number in question_list.paginator.page_range %}
        {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
            {% if page_number == question_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">
                    {{ page_number }}
                </a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">
                    {{ page_number }}
                </a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- next page -->
        {% if question_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ question_list.next_page_number }}">
                >
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                >
            </a>
        </li>
        {% endif %}
    </ul>
    <!-- end paging -->
    <a href="{% url 'pybo:question_create' %}" clasee="btn btn-primary">
        질문 등록하기
    </a>
</div>
{% endblock %}