{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}" />
{% block content %}
<section id="banner" class="major">
    <div class="inner">
    <div class="row">
        <div class="col-4">
            <h1>Log In</h1>
        </div>
        <div class="col-8 text-right">
            <span>
                or <a href="{% url 'common:signup' %}">  Sign Up.</a>
            </span>
        </div>  
    </div>

    <form method="post" class="post-form" action="{% url 'common:login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{next}}">
        {% include "form_errors.html" %}
        
        <div class="form-group">
            <label for="username">ID(email)</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="ID(email)"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <br>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="password"
                   value="{{ form.password.value|default_if_none:'' }}">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
    </div>
    </div>
</section>
<br><br>
{% endblock %}