<!--taxi/change_password.html-->
{% extends "base.html" %}
{% block content %}

<!-- <h2 style="text-align:center;">비밀번호 변경</h2>
<div class="container my-3">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form method="post" style="text-align:center;">
  {% csrf_token %}
  {{ form }}
  <button type="submit">Save changes</button>
</form>
</div> -->

<div class="container my-3">
  <form method="POST" action="{% url 'common:changepw' %}">
    {% csrf_token %}
    현재 비밀번호 : 
    <input name="origin_password" type="password">
    <!-- {% if origin_password != request.user.password %}
      {% if messages %}
      {% for message in messages %}
        {{ message.tags }}
        {{ message.message }}
      {% endfor %}
      {% endif %}
    {% endif %} -->
    <br><br>
    변경할 비밀번호 :
    <input name="new_password" type="password">
    <br><br>
    비밀번호 확인 : 
    <input name="confirm_password" type="password">
    <!-- {% if new_password != confirm_password %}
      {% if messages %}
      {% for message in messages %}
        {{ message.tags }}
        {{ message.message }}
      {% endfor %}
      {% endif %}
    {% endif %} -->
    <br><br>
    <input class="btn btn-primary" type="submit" value="변경"> 
  </form>
  {% if messages %}
      {% for message in messages %}
        <!-- {{ message.tags }} -->
        {{ message.message }}
      {% endfor %}
  {% endif %}
</div>
{% endblock %}
{% block script%}
<script type="text/javascript">
</script>
{% endblock %}